.submit-button {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.cpu-input {
    width: 60%;
    margin-left: 50px;
    margin-top: 20px;
}

.arch-form {
    margin-left: 50px;
    width: 200px;
    padding-top: 50px;
}

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.loading {
    width: 50%;
    justify-content: center;
}

.ram-selection {
    margin-bottom: 10px;
}